<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChooseCruise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BAF10B181DD7C18E004DF6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF10B2C1DD7C18E004DF6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF10B371DD7C18E004DF6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAF10B4D1DD7C1DB004DF6E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
